[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-ckeditor = "*"
pillow = "*"
pylint = "*"
pylint-django = "*"
pylint-celery = "*"
django-rest-passwordreset = "*"
django = "*"
django-filter = "*"
djangorestframework = "*"
djoser = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
server          = "python manage.py runserver"
migrate         = "python manage.py migrate"
startapp        = "python manage.py startapp"
makemigrations  = "python manage.py makemigrations"
createsuperuser = "python manage.py createsuperuser"
